.botao{
    background-color: #224722;
    color: white;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        background-color: #193419;
    }
}

#cardBotaoDireitaResponsividade{
    
    
    @media (max-width: 768px) {
        img{
            width: 250px;
            height: 300px;
        }
    }

    @media(max-width: 1009px) {

        flex-direction: column-reverse;

        div{
            padding: 0px;
        }
        
        h1{
          text-align: center;  
        }
        p{
            text-align: center;
        }

        img{
            width: 280px;
            height: 340px;
        } 

        .divBotao{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    }

    @media (max-width: 768px) {
        img{
            width: 250px;
            height: 300px;
        }
    }

    @media (max-width: 525px){
        img{
            width: 220px;
            height: 280px;
        }
    }
}