#cardImagemDireitaResponsividade{
    
    @media (max-width: 525px){
        img{
            width: 220px;
            height: 280px;
        }
    }
    
    @media (max-width: 768px) {
        img{
            width: 250px;
            height: 300px;
        }
    }
    @media(max-width: 1008px) {
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
          text-align: center;  
        }
        p{
            text-align: center;
        }
        
    }
}